<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
<title>About Us</title>
</head>
<body>
<style>
body {margin:0;}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
<body>

<div class="topnav">
  <a class="active" href="{{url_for('main')}}">Home</a>
  <a>Continents</a>
  <a href="{{url_for('about_us')}}">About Us</a>
  <a href="{{url_for('Q_A')}}">Q&A</a>
  <img style="float:right;" src="/static/img/TravIt2.jpg" alt="menu_logo" width="80">
</div>


<h1 class="big-input">About Us</h1>

<h1>We are "TravIt"!</h1>
<div style="float: left; margin: 50px">
<h3>George Abu Dauod - Software Engineer </h3>
<img class="img-circle" src="/static/img/George.jpg" style="width:300px;height:300px;" >
</div>
<div style="float: left; margin: 50px">
<h3>Dana Ghoul- Content Developer</h3>
<img class="img-circle" src="/static/img/Dana.jpg" style="width:300px;height:300px;">
</div>
<div style="float: left; margin: 50px">
<h3>Yonatan Alterman - Designer & Founder</h3>
<img class="img-circle" src="/static/img/Yonatan.JPG" style="width:300px;height:300px;">
</div>
<div style="float: left; margin: 20px">
<h3>May Raviel- Software Engineer</h3>
<img class="img-circle" src="/static/img/May.jpg" style="width:300px;height:300px">
</div>
<div style="float: right; margin: 20px">
<h3>Yazan Idrees - Marketing Director </h3>
<img class="img-circle" src="/static/img/Yazan.jpg" style="width:300px;height:300px">
</div>

</body>
</html>