<!DOCTYPE html>
<html>
<head>
	<title>{{country.name}}</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
<div class="topnav">
  <a href="{{url_for('main')}}">Home</a>
  <a href="{{url_for('about_us')}}">About Us</a>
  <a href="{{url_for('Q_A')}}">Q&A</a>
  <a href="{{url_for('flags_menu',continent=country.continet)}}">Continent: {{continents[country.continet-1].name}}</a>
  <a href="{{url_for('adding_form',country=country.id)}}">Post</a><br>
</div>
<br>
<h1>{{country.name}}</h1>
<aside class="side" style="max-width: 400px; float:left">
	<img class="flag" src="{{country.flag}}">
	<h2>{{country.name}}, {{continents[country.continet-1].name}}</h2>
	<p style="max-width: 300px"> {{info[0]}} </p><br><br>
</aside>
<iframe class="cities_list" src="{{url_for('cities_list',country=country.id)}}"></iframe>
<div style="float: left" class="posts_container">
	{%for p in posts%}
	<div class='post'>
	<h2>{{acities[p.city-1].name}},{{country.name}}</h2>
	<h3>{{p.sender}},{{p.sender_country}}</h3>
	<img class='post_pic' src="{{p.pic_url}}">
	<p>{{p.text}}</p>
	</div>
	{%endfor%}
</div>
</aside>
</body>
</html>