<!DOCTYPE html>
<html>
<head>
	<title>{{country.name}}</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
	<div id="header">
        <ul>
          <li class="menu_i"><a href="{{url_for('main')}}">Home</a></li>
          <li class="menu_i"><a href="{{url_for('about_us')}}">About Us</a></li>
          <li class="menu_i"><a href="{{url_for('Q_A')}}">Q&A</a></li>
          <li class="dropdown">

            <a href="javascript:void(0)" class="dropbtn">Continent</a>
            <div class="dropdown-content">
               <a href="{{url_for('flags_menu',continent=4)}}">North America</a>
               <a href="{{url_for('flags_menu',continent=5)}}">South America</a>
               <a href="{{url_for('flags_menu',continent=1)}}">Europe</a>
               <a href="{{url_for('flags_menu',continent=2)}}">Africa</a>
               <a href="{{url_for('flags_menu',continent=3)}}">Asia</a>
               <a href="{{url_for('flags_menu',continent=6)}}">Australia</a>
            </div>
          </li>
          <li class="menu_i"><a href="{{url_for('flags_menu',continent=country.continet)}}">Continent: {{continents[country.continet-1].name}}</a></li>
          <li class="menu_i"><a href="{{url_for('adding_form',country=country.id)}}">Post</a></li>
          <img style="float:right;" src="/static/img/TravIt2.jpg" alt="menu_logo" width="80">
        </ul>
    </div>
    <div id="content-body">


<br>
<h1>{{country.name}}</h1>
<aside class="side" style="max-width: 400px; float:left">
	<img class="flag" src="{{country.flag}}">
	<h2>{{country.name}}, {{continents[country.continet-1].name}}</h2>
	<p style="max-width: 300px"> {{info[0]}} </p><br><br>
</aside>
<div style="float: left" class="posts_container">
	{%for p in posts%}
	<div class='post'>
	<h2>{{acities[p.city-1].name}},{{country.name}}</h2>
	<h3>{{p.sender}},{{p.sender_country}}</h3>
	<img class='post_pic' src="{{p.pic_url}}">
	<p>{{p.text}}</p>
	</div>
	{%endfor%}
</div>
</aside>
</body>
</html>