<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">

</head>
<body>
    <div id="header">
    <img style="float:right;" src="/static/img/TravIt2.jpg" alt="menu_logo" width="80">
        <ul>
          <li style="background-color: green"><a href="{{url_for('main')}}">Home</a></li>
          <li><a href="{{url_for('about_us')}}">About Us</a></li>
          <li><a href="{{url_for('Q_A')}}">Q&A</a></li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Continent</a>
            <div class="dropdown-content">
               <a href="{{url_for('flags_menu',continent=4)}}">North America</a>
               <a href="{{url_for('flags_menu',continent=5)}}">South America</a>
               <a href="{{url_for('flags_menu',continent=1)}}">Europe</a>
               <a href="{{url_for('flags_menu',continent=2)}}">Africa</a>
               <a href="{{url_for('flags_menu',continent=3)}}">Asia</a>
               <a href="{{url_for('flags_menu',continent=6)}}">Australia</a>
            </div>
          </li>
          <img style="float:right;" src="/static/img/TravIt2.jpg" alt="menu_logo" width="80"></li>
        </ul>
    </div>
<div id="content-body">
        
<h1 class="big-input">TravIt</h1>
<!--<p>Welcome to "TravIt"</p>-->
<font size="10">Welcome to TravIt</font>
    
<img src="https://s-media-cache-ak0.pinimg.com/originals/b6/1a/4b/b61a4b1a7172cf86ca65e0ede46c26ff.jpg" width="1200" >
</div>

</body>
</html>
