<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
	<title>Q&A</title>
	
	
</head>
<body>
<style>
body {margin:0;}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
<body>
<div class="topnav">
  <a class="active" href="{{url_for('main')}}">Home</a>
  <a href="{{url_for('about_us')}}">About Us</a>
  <a href="{{url_for('Q_A')}}">Q&A</a>
</div>
<img src="/static/img/TravIt2.jpg" alt="logo" style="width:650px;height:200px;text-align:center;">
<h1> Q&A</h1>
<p>What is the problem we are trying to solve? </p>
<ul>
	<li>Having a trustful website that you can access reviews on places without promotions.</li>
	<li>Not all websites identify with all countries.</li>
	<li>Being able to share your opinion directly and easily. </li>
</ul>
<p>How can I share my exprience about a country I visited?</p>
<ul>
	<li>You can simply g to the web page of the country by clicking on the continent that the country belongs to, then you will find a button that says share experience after clicking on it, fill the details and click share and you are good to go. </li>


</ul>

</body>
</html>